.show-comments {
  margin-top: 15px;
  margin-bottom: 10px;
}

.show-comment-area {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: var( --global-secondary-bgc);
}

.comment-title {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--global-bc);
}

.comment-content {
  margin-bottom: 1em;
}
